@import "vars";

.footer {
  min-height: 75px;
  background: $color-dark;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__copyright {
    color: $color-light-text;
    font-size: 16px;
    font-weight: 400;
    margin-left: 10px;
  }

  &__social-icons {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 32px);
    gap: 7px;
    margin-right: 10px;
  }

  &__icon-btn {
    &:hover .icon-path-bg {
      fill: $color-accent;
      transition: all 0.3s;
    }
  }
}

