@import "vars";

.top {
  display: flex;
  align-items: center;
  background: linear-gradient(-45deg, #f1e4e6, #efdfce, #efcedf, #f1e4e6);
  background-size: 400% 400%;
  margin-bottom: 65px;
  @include bg-color;
  animation: bg-color 8s infinite linear;

  &__img {
    display: flex;
    width: 50%;
    margin-right: 60px;
    margin-bottom: -3px;
  }

  &__title {
    display: flex;
    flex-direction: column;
    border-left: 12px solid $color-accent;
    padding-left: 16px;
  }

  &__name {
    font-size: 48px;
    font-weight: 900;
  }

  &__heading {
    font-size: 32px;
    font-weight: 700;
  }
}

.offer {
  display: grid;
  grid-gap: 30px;
  margin-bottom: 96px;
  margin-right: 8px;
  margin-left: 8px;

  &__card {
    display: flex;
    grid-column: span 4;
    &-big {
      grid-column: span 12;
    }
  }

  &__link {
    position: relative;
    transition: all 0.3s;
    &:hover {
      opacity: 0.9;
      box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.5);
    }
  }

  &__img {
    filter: brightness(0.7);
    object-fit: cover;
    max-width: 100%;
    height: 100%;
  }

  &__filter {
    background-color: rgba(33, 22, 22, 0.50);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__desc {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
  }

  &__title {
    color: $color-accent;
    font-size: 24px;
    font-weight: 700;
  }
}

.goods {
  margin-right: 8px;
  margin-left: 8px;
  margin-bottom: 95px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 6px;
    text-align: center;
  }

  &__text {
    color: $color-medium-text;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 48px;
    text-align: center;
  }

  &__products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 48px;
  }

  &__btn {
    text-align: center;
    padding: 15px 39px;
    color: $color-accent;
    border: 1px solid $color-accent;
    font-size: 16px;
    font-weight: 400;
    transition: all 0.3s;

    &:hover {
      color: #fff;
      background-color: $color-accent;
      border: 1px solid $color-accent;
    }
  }

}

.features-wrapper {
  background: $color-dark;

}

.features {
  display: flex;
  align-items: flex-end;
  gap: 30px;
  padding: 104px 0;

  &__card {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__img {
    margin-bottom: 28px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    color: $color-very-light-text;
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 16px;
  }

  &__text {
    color: $color-very-light-text;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    max-width: 85%;
  }
}


@media (max-width: 1024px) {

  .offer {
    grid-gap: 20px;
  }

  .top__name {
    font-size: 44px;
  }

  .top__heading {
    font-size: 24px;
  }

  .card {
    width: 49%;
  }

  .features {
    flex-direction: column;
    align-items: center;
    gap: 0;
    padding-top: 48px;
    padding-bottom: 16px;
  }

  .features__card {
    max-width: 360px;
    margin-bottom: 48px;
  }

  .subscribe__content {
    flex-direction: column;
    justify-content: center;
    min-height: 614px;
  }

  .subscribe__quote {
    max-width: 343px;
    margin-left: 0;
  }

  .subscribe__img {
    margin-top: 64px;
  }

  .subscribe__text {
    margin-bottom: 48px;
  }

  .subscribe__form {
    margin-bottom: 140px;
    margin-right: 0;
    max-width: 360px;
  }
}
@media (max-width: 768px) {

  .hide {
    display: none;
  }

  .top {
    min-height: 363px;
    justify-content: center;
  }

  .top__img {
    display: none;
  }

  .top__name {
    font-size: 38px;
  }

  .top__heading {
    font-size: 20px;
  }

  .offer {
    justify-content: center;
  }

  .offer__card {
    grid-column: span 1;
  }

  .offer__link {
    width: 100%;
  }

  .offer__img {
    width: 100%;
  }

  .card {
    width: 100%;
  }

  .subscribe__text {
    font-size: 18px;
  }

  .subscribe__desc {
    font-size: 14px;
  }

  .subscribe__email-btn {
    height: 47px;
  }

  .subscribe__email-input {
    padding: 7px 36px 7px 18px;
  }

  .subscribe__email-btn {
    width: 96px;
    padding-left: 6px;
  }

  .footer {
    flex-direction: column-reverse;
  }

  .footer__copyright {
    margin-bottom: 10px;
  }

  .footer__social-icons {
    margin-top: 43px;
    margin-bottom: 40px;
  }
}
@media (max-width: 375px) {

  .subscribe__email-input {
    padding: 7px 28px 7px 12px;
    font-size: 12px;
  }

  .subscribe__email-btn {
    width: 82px;
    padding-left: 4px;
    font-size: 12px;
  }

}