@import "vars";

.registration {
  display: flex;
  padding-top: 64px;
  margin-bottom: 96px;
  justify-content: space-between;
}

.registration-form {
  width: 360px;
  display: flex;

  &__title {
    color: $color-dark-text;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 20px;
  }

  &__input {
    width: 100%;
    font-size: 13px;
    font-weight: 300;
    padding: 12px 16px 18px;
    border: 1px solid $color-medium;
    margin-bottom: 20px;
    transition: all 0.3s;
    &::placeholder {
      color: $color-light-text;
    }
    &:hover {
      border: 1px solid $color-medium-text;
    }
  }

  &__gender {
    display: flex;
    align-items: flex-end;
    padding-top: 10px;
    margin-bottom: 33px;
  }

  &__radio {
    appearance: none;

    border-radius: 50%;
    width: 17px;
    height: 17px;

    border: 1px solid $color-medium;
    outline: none;
    margin-right: 10px;
    transition: 0.2s all linear;
    &:checked {
      border: 6px solid $color-accent;
    }
    &-weird {
      display: none;
    }
  }

  &__label {
    font-size: 11px;
    font-weight: 300;
    color: $color-dark-text;
    margin-right: 20px;
    padding-bottom: 2px;

    &-weird {
      display: none;
    }
  }

  &__desc {
    color: $color-light-text;
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 39px;
  }

  &__btn {
    font-size: 14px;
    font-weight: 400;
    color: $color-white;
    padding: 16px 29px;
    background: $color-accent;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      color: $color-accent;
      background: $color-white;
      border: 1px solid $color-accent;
    }
    &:hover path {
      fill: $color-accent;
    }
  }
  &__svg {
    margin-left: 20px;
  }

}

.loyalty {
  max-width: 57%;

  &__title {
    font-size: 24px;
    font-weight: 300;
    color: $color-dark-text;
    margin-bottom: 22px;
  }

  &__text {
    font-size: 24px;
    font-weight: 300;
    color: $color-dark-text;
    margin-bottom: 21px;
  }

  &__list {
    list-style-position: inside;
    list-style-type: none;
  }

  &__item {
    font-size: 24px;
    font-weight: 300;
    color: $color-dark-text;
    margin-bottom: 16px;
    padding-left: 42px;
    background-image: url(../img/marker.svg);
    background-position: left;
    background-size: 20px 16px;
    background-repeat: no-repeat;
  }
}


@media (max-width: 1024px) {

}
@media (max-width: 768px) {

}
@media (max-width: 375px) {

}