$width: 1140px;

$color-dark: #222;
$color-medium: #a4a4a4;
$color-light: #F8F3F4;
$color-accent: #F16D7F;


$color-dark-text: #222;
$color-medium-dark-text: #4D4D4D;
$color-medium-text: #6F6E6E;
$color-light-text: #B1B1B1;
$color-very-light-text: #FBFBFB;
$color-white: #fff;

$color-card-bg: #F8F8F8;
$color-product-bg: #F7F7F7;
$color-cart-total-bg: #F5F3F3;
$color-subscribe-ph: #E1E1E1;

$color-border-light: #EBEBEB;
